<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipesforlife"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:debuggable="true"
       >
        <activity
            android:name="com.example.recipesforlife.views.SignUpSignInActivity"
            android:label="@string/app_name" 
             android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.example.recipesforlife.views.MainActivity"
            android:label="@string/app_name" 
             android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
           
        </activity>
         <activity
            android:name="com.example.recipesforlife.views.RecipeViewActivity"
            android:label="@string/app_name" 
             android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
           
        </activity>
        <uses-library android:name="android.test.runner" /> 
    </application>
    
    <instrumentation 
        android:name="android.test.InstrumentationTestRunner" 
        android:targetPackage="com.example.recipesforlife"
        android:label="recipesforlife" /> 
    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
